.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .grid-produtos {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    background-color: #e9ebee;
    width: 100%;
    height: 100%;

    .item {
      display: flex;
      flex-direction: column;
      justify-content: center;

      padding: 32px;

      width: 304px;
      height: 568px;

      background-color: #ffffff;

      border-radius: 8px;
      box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.08);

      .item-header {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .button-favorito {
          position: absolute;
          top: 0;
          right: 1.8rem;

          display: flex;
          align-items: center;
          justify-content: center;

          width: 48px;
          height: 48px;
          border-radius: 50%;
          background-color: #f2f3f6;

          cursor: pointer;

          transition: 0.5s;

          &:hover {
            background-color: #fee5ec;

            svg path {
              stroke: #da4b4f;
            }
          }
        }

        .button-favoritado {
          position: absolute;
          top: 0;
          right: 1.8rem;

          display: flex;
          align-items: center;
          justify-content: center;

          width: 48px;
          height: 48px;
          border-radius: 50%;
          background-color: #da4b4f;

          cursor: pointer;

          transition: 0.5s;

          svg path {
            fill: #ffffff;
            stroke: #ffffff;
          }

          &:hover {
            background-color: #c22539;
          }
        }
      }

      .titulo {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;

        color: #1c1c1c;
      }

      .oldPreco {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;

        margin: 0;

        letter-spacing: -0.005em;
        text-decoration-line: line-through;

        color: #b5b5b6;
      }

      .newPreco {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;

        margin: 4px 0;

        letter-spacing: -0.005em;

        color: #da4b4f;
      }

      .parcelamento {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;

        margin: 0;

        letter-spacing: -0.005em;

        color: #848587;

        strong {
          color: #1c1c1c;
          font-weight: normal;
        }
      }

      .addBotao {
        height: 48px;

        background: #40b25c;
        border-radius: 5px;

        border: none;

        cursor: pointer;

        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;

        letter-spacing: -0.005em;
        text-transform: uppercase;

        color: #ffffff;

        transition: 0.5s;

        &:hover {
          background: #1c6c3e;
        }
      }

      .addedBotao {
        height: 48px;

        background: #a3f9b9;
        border-radius: 5px;

        border: none;

        cursor: pointer;

        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;

        letter-spacing: -0.005em;
        text-transform: uppercase;

        color: #1c1c1c;

        transition: 0.5s;

        &:hover {
          background: #7feb9a;
        }
      }
    }
  }
}
